modules = ["postgresql-16"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Run Django Server"

[[workflows.workflow]]
name = "Run Django Server"
author = 43548142
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python manage.py migrate"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python manage.py runserver 0.0.0.0:5000"

[nix]
channel = "stable-24_05"
packages = ["freetype", "glibcLocales"]
